body {
  opacity: 0.89;
}

.loginForm {
  margin: 0;
  padding-left: 20vw;
  padding-right: 20vw;
  align-items: center;
  height: 1024px;
  background-color: rgb(235, 235, 235);
  opacity: 1;
}

.login {
  padding-top: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 1vh;
}

.h4 {
  margin-top: 15px;
  padding: 0;
  margin-right: 3px;
  text-shadow: 4px 8px 6px rgb(196, 191, 191);
  font-weight: bolder;
}

.h42 {
  margin-right: 29px;
}

.button {
  display: flex;
  align-items: center;
}

.btn {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1vw;
  padding-right: 1vw;
  color: cornsilk;
  background-color: rgb(236, 13, 13);
  border-color: transparent;
  border-radius: 8px;
  font-weight: bold;
  margin: 5px;
}

.inpt {
  padding: 1vh;
  border-radius: 20px;
  box-shadow: 4px 8px 6px rgb(196, 191, 191);
  border: none;
  background-color: white;
  z-index: 10;
  opacity: 1;
  outline: none;
  font-weight: bold;
}
