.navbar {
  background-color: black;
  height: 4vw;
}

.button {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
  text-decoration: none;
  background-color: black;
  color: white;
  float: left;
}
