.card {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  background-color: #fff;
  margin: 20px auto;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 4px 6px 4px #aaa;
}
